
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargar Imagen y Convertir a PDF</title>
</head>
<body>
    <h2>Cargar Imagen y Convertir a PDF</h2>
    <form method="post" enctype="multipart/form-data" action="{% url 'cargar_imagen' %}">
        {% csrf_token %}
        <label for="imagen">Selecciona una imagen:</label>
        <input type="file" name="archivo" accept="image/*" required>
        <button type="submit">Convertir a PDF</button>
    </form>
</body>
</html>

